In [1]:
def square(num):
    return num**2

In [4]:
my_nums = [1,2,3,4,5,6,7,8,9,10]

In [9]:
x = []
for item in map(square,my_nums):
    x.append(item)
print(x)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [10]:
list(map(square,my_nums))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

___

In [11]:
def splicer(mystring):
    if len(mystring)%2 == 0:
        return 'EVEN'
    else:
        return mystring[0]

In [12]:
names = ['Andy', 'Eve', 'Sally']

In [13]:
list(map(splicer, names))

['EVEN', 'E', 'S']

---

In [14]:
def check_even(num):
    return num%2 == 0

In [15]:
mynums = [1,2,3,4,5,6,7,8,9,10]

In [19]:
list(filter(check_even, mynums))

[2, 4, 6, 8, 10]

---

In [21]:
square = lambda numero: numero**2

In [23]:
square(5)

25

In [24]:
mis_numeros =[1,2,3,4,5,6,7,8,9,10]

In [25]:
list(map(lambda num : num**2, mis_numeros))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [27]:
list(filter(lambda even : even%2 == 0, mis_numeros))

[2, 4, 6, 8, 10]

In [13]:
name_a = ['Canto de Pato']

In [14]:
list(map(lambda x : x[::-1], name_a))

['otaP ed otnaC']

---

In [15]:
name1 = 'Alexis'

In [ ]:
def change_name(name):